<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <title>Sample0608</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <%= link_to 'HOME', root_path %>
      <%= link_to 'ユーザー登録', new_user_path %>
      <%= link_to '出力フォーム', users_path %>
    </nav>
    <%= yield %>
  </body>
</html>
